
{% block title %}<h1>Producto</h1>{{producto.nombre}}{% endblock %}
<head>
<title>Detalle de Productos</title>
</head>
{% block content %}
	<h1>{{producto.nombre}}</h1><br>
	<p>{{producto.descripcion}}</p>
	nombre=models.CharField(max_length=100)
	cantidad=models.DecimalField(max_digits=3,decimal_places=0)
	imagen=models.ImageField(upload_to='Media',null=True,blank=True)
	precio=models.DecimalField(max_digits=5,decimal_places=2)
	fecha=models.DateField(auto_now=True)
	cat=models.ManyToManyField(Categoria)
	descripcion=models.TextField(max_length=300)
{% endblock%}
